<h1>List of Awesome Clips</h1>

<ul> 
	<% @all_videos.each do |video| %>
		<li>
			<%= link_to video.title, video_url(video.id) %> | 
			Rating: <%= video.rating %>
		</li>
		<%= video.snippet %>
	<% end %>
</ul>